@font-face {
  font-family: Batch;
  src: url("../fonts/batch-icons-webfont.eot");
  src: url("../fonts/batch-icons-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/batch-icons-webfont.woff") format("woff"), url("../fonts/batch-icons-webfont.ttf") format("truetype"), url("../fonts/batch-icons-webfont.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
