.columns {
    height: 100%;
    box-sizing: border-box;
    padding: 6px 0 6px 6px;
    overflow: visible;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.column {
    border-radius: 0;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    width: 310px;
    height: 100%;
    background-color: #fff;
    white-space: normal;

    &-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    &-header {
        box-sizing: border-box;
        position: relative;
        height: 50px;
        padding: 0 10px;
        color: #292f33;
        background-color: #eaeaea;
        line-height: 50px;
        border-bottom: 1px solid #ddd;
    }

    &-content {
        position: absolute;
        top: 50px;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    &-scroller {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-x: hidden;
        word-break: break-word;
        word-wrap: break-word;
    }
}
