.columns {
    height: 100%;
    box-sizing: border-box;
    padding: 6px 0 6px 6px;
    overflow: visible;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.column {
    border-radius: 0;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    width: 310px;
    height: 100%;
    background-color: #fff;
    white-space: normal;

    &-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    &-header {
        box-sizing: border-box;
        position: relative;
        height: 50px;
        padding: 0 10px;
        color: #292f33;
        background-color: #eaeaea;
        line-height: 50px;
        border-bottom: 1px solid #ddd;
    }

    &-content {
        position: absolute;
        top: 50px;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    &-scroller {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-x: hidden;
        word-break: break-word;
        word-wrap: break-word;

        /* Turn on custom 8px wide scrollbar */
        &::-webkit-scrollbar {
          width: 8px; /* 1px wider than Lion. */
          /* This is more usable for users trying to click it. */
          background-color: rgba(0,0,0,0);
          -webkit-border-radius: 100px;
        }
        /* hover effect for both scrollbar area, and scrollbar 'thumb' */
        &::-webkit-scrollbar:hover {
          background-color: rgba(0, 0, 0, 0.09);
        }

        /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
        &::-webkit-scrollbar-thumb:vertical {
          /* This is the EXACT color of Mac OS scrollbars. 
             Yes, I pulled out digital color meter */
          background: rgba(0,0,0,0.5);
          -webkit-border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb:vertical:active {
          background: rgba(0,0,0,0.61); /* Some darker color when you click it */
          -webkit-border-radius: 100px;
        }
    }
}
