$drawer-width: 270px;

$compose-bg: #2b7bb9;
$compose-bg-active: #fff;
$compose-input-bg: #fff;
$compose-input-text: #111;
$compose-title: #88c9f9;
$compose-color: #fff;

$compose-header-height: 90px;

.drawer {
    position: absolute;
    width: $drawer-width;
    top: 0;
    left: -$drawer-width;
    height: 100%;
    margin-right: 0;
}

.compose {
    background-color: $compose-bg;
    height: 100%;
    overflow: hidden;

    &-actions {
        margin-top: 15px;
    }

    &-content {
        bottom: 40px;
        left: 0;
        right: 0;
    }

    &-antiscroll {
        position: absolute;
        top: $compose-header-height;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &-input, .compose-message {
        width: 100%;
        height: 130px;
        resize: none;
        border: none;
        color: #111;
        padding: 10px;
        font-size: 14px;

        &-container, .compose-message-container {
            background-color: $compose-input-bg;
            font-size: 0;
        }
    }

    &-recipient {
        width: 100%;
        height: 32px;
        resize: none;
        border: none;
        color: $compose-input-text;
        padding: 4px 8px;
        font-size: 14px;
        border-radius: 0;

        &-container {
            background-color: $compose-input-bg;
            font-size: 0;
            margin-bottom: 9px;
        }
    }

    &-container {
        padding: 15px;
    }

    &-header {
        box-sizing: border-box;
        position: relative;
        height: $compose-header-height;
        max-height: $compose-header-height;

        & .content {
            position: absolute !important;
            z-index: 50;
            bottom: 0px;
            padding: 5px;
            color: #fff;
            font-weight: bold;

            & span {
                font-weight: normal;

                &:after {
                    content:"\A";
                    white-space:pre;
                }
            }

            & .avatar {
                width: 35px;
                height: auto;
                border-radius: 100%;
                float: left;
                margin-right: 7px;
            }
        }

        & .gradient {
            position: absolute;
            height: 52px;
            bottom: 0px;
            width: 100%;
            z-index: 2;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        }

        & img {
            position: relative;
            width: 100%;
        }
    }

    &-text-title {
        color: $compose-title;
        margin-bottom: 0;
        padding-bottom: 9px;
    }

    .nav-tabs.nav-justified > li > a {
      border: none;
      border-radius: 0;
      background-color: $compose-bg-active;
      color: $compose-bg;
    }

    .nav-tabs.nav-justified > .active > a {
      border: none;
      border-radius: 0;
      background-color: $compose-bg;
      color: $compose-bg-active;
    }
}

.js-remaining-character-count {
  color: $compose-color;
}

.js-chained-tweets {
  color: $compose-color;
  display: none;
  margin-right: 10px;
}
