.drawer {
    position: absolute;
    width: 270px;
    top: 0;
    left: -270px;
    height: 100%;
    margin-right: 0;
}

.compose {
    background-color: #2b7bb9;
    height: 100%;
    overflow: hidden;

    &-actions {
        margin-top: 15px;
    }

    &-content {
        bottom: 40px;
        left: 0;
        right: 0;
    }

    &-antiscroll {
        position: absolute;
        top: 90px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &-input {
        width: 100%;
        resize: none;
        border: none;
        color: #111;
        padding: 10px;
        font-size: 1rem;

        &-container {
            background-color: #fff;
            font-size: 0;
        }
    }

    &-container {
        padding: 15px;
    }

    &-header {
        box-sizing: border-box;
        position: relative;
        height: 90px;
        max-height: 90px;

        & .content {
            position: absolute !important;
            z-index: 50;
            bottom: 0px;
            padding: 5px;
            color: #fff;
            font-weight: bold;

            & span {
                font-weight: normal;

                &:after {
                    content:"\A"; 
                    white-space:pre; 
                }
            }

            & .avatar {
                width: 35px;
                height: auto;
                border-radius: 100%;
                float: left;
                margin-right: 7px;
            }
        }

        & .gradient {
            position: absolute;
            height: 52px;
            bottom: 0px;
            width: 100%;
            z-index: 2;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        }

        & img {
            position: relative;
            width: 100%;
        }
    }
}

.js-remaining-character-count {
  color: #fff;
  margin-right: 10px;
}
