// this is essentially $drawer-width from _compose.scss
$content-offset: 270px;

$content-bg: #ddd;
$content-color: #292f33;

html, body {
    height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  color: $content-color;
  overflow: hidden;
}

.hidden {
    display: none !important;
}

.app-content {
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    background-color: $content-bg;
    margin-left: 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

    &.is-open {
        transform: translateX($content-offset);
        margin-right: $content-offset;
    }
}

.input-section {
    margin-top: 15px;
}
