.app-header {
    background-color: #292f33;
    z-index: 200;
    width: 50px;
    padding: 4px 4px 0 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &-link {
        font-size: 18px;
        color: #777;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 5px;

        &:hover {
            color: #fff;
        }

        .large-icon {
            font-size: 26px;
        }
    }

    .bottom-navigation {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        margin-bottom: 5px;
    }

    .top-navigation {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        margin-top: 5px;
    }
}

.settings-dropdown {
    left: 55px;
}
