$loader-bg: rgba(255,255,255, 0.8);
$loader-color: #2196F3;

.loader {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $loader-bg;
    z-index: 100;

    .wrapper {
        display: table-cell;
        vertical-align: middle;
        width: 100%;

        p {
            text-align: center;
        }

        .la-ball-scale-multiple {
            color: $loader-color;
            margin: 0 auto;
        }
    }
}
