.c-sidebar__button {
  padding: 0 10px;
  margin-top: 10px;
  color: #b0bec5;
  font-size: 24px;
  font-family: Batch;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.c-sidebar__profile {
  position: relative;
  padding: 0 10px;
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  color: #fff;

  &--active {
    color: red;
  }
}
