$tweet-border: 1px solid #eee;

$tweet-context-color: #8899a6;

$tweet-action-color: $tweet-context-color;
$tweet-action-hover: #000;

$tweet-avatar-offset: 58px;
$tweet-avatar-size: 48px;
$tweet-avatar-margin: 10px;
$tweet-avatar-radius: 3px;

$tweet-avatar-small-size: 24px;
$tweet-avatar-small-offset: 36px;

.tweet {
    padding: 8px 10px;
    border-bottom: $tweet-border;

    &-context {
        color: $tweet-context-color;
        padding-bottom: 4px;
    }

    &-header {
        font-weight: bold;
        padding-bottom: 5px;

        small {
            font-weight: normal;
            color: $tweet-context-color;
        }

        span {
            font-weight: normal;
        }
    }

    &-footer {
        display: block;
        float: right;
        margin-top: 3px;

        &:before, &:after {
            display: block;
            content: " ";
        }

        &:after {
            clear: both;
        }
    }

    &-actions {
        float: left;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        .action-item {
            margin-right: 13px !important;
            float: left;
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 17px;
            
            & a {
                color: $tweet-action-color;

                &:hover {
                    color: $tweet-action-hover;
                }
            }
        }
    }

    &-text {
        overflow: hidden;
        white-space: pre-wrap;
    }

    &-body {
        &.contextual {
            color: $tweet-context-color;

            .tweet-header {
                padding-bottom: 0;
            }
        }
    }

    &-avatar {
        margin-left: -$tweet-avatar-offset;
        float: left;
        margin-right: $tweet-avatar-margin;
        width: $tweet-avatar-size;
        height: $tweet-avatar-size;
        border-radius: $tweet-avatar-radius;

        &.small {
            width: $tweet-avatar-small-size;
            height: $tweet-avatar-small-size;
            margin-left: $tweet-avatar-small-offset;
        }
    }

    &-content {
        padding-left: $tweet-avatar-offset;

        &:before, &:after {
            display: block;
            content: " ";
        }

        &:after {
            clear: both;
        }
    }

    &-media-wrapper {
        margin: 5px 0;
        height: 120px;
        width: 100%;

        .media-image {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: 50% 50%;
            background-size: cover;
            float: left;

            &:nth-child(2) {
                left: 3px;
            }

            &:nth-child(3) {
                top: 3px;
            }

            &:nth-child(4) {
                top: 3px;
                left: 3px;
            }
        }

        &.media-1 {
            .media-image {
                height: 100%;
            }
        }

        &.media-2 {
            .media-image {
                width: 50%;
            }
        }

        &.media-3 {
            .media-image {
                padding: 0;
                width: 50%;
                height: 50%;
                float: left;

                &:first-child {
                    height: 100%;
                }

                &:nth-child(3) {
                    left: 3px;
                    height: calc(50% - 3px);
                }
            }
        }

        &.media-4 {
            .media-image {
                padding: 0;
                width: 50%;
                height: 50%;
                float: left;
            }
        }
    }
}
