<!DOCTYPE html>
<html>
<head>
    <title>Surfbird</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="#" id="theme-tag"/>
</head>
<body id="main">
    <app-header></app-header>
    <div class="app-content is-open">
    <compose :user.sync="user"></compose>
        <div class="columns">
            <column title="Home">
                <loader id="mainloader" message="Establishing Streaming Connection"></loader>
                <stream-item v-for="tweet in tweets | orderBy 'id_str' -1" v-bind:content="tweet" v-bind:index="$index"></stream-item>
            </column>
            <column title="Interactions">
                <loader id="interactionloader" message="Loading Interactions"></loader>
                <interaction v-for="event in interactions | orderBy 'event.created_at' -1" v-bind:event="event.type" v-bind:content="event.event" v-bind:index="$index"></interaction>
            </column>
        </div>
    </div>
    <settings-modal :themes.sync="themes"></settings-modal>
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>
</html>
