<!DOCTYPE html>
<html>
<head>
    <title>Surfbird</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="#" id="theme-tag"/>
</head>
<body id="main">
    <app-header></app-header>
    <div class="app-content is-open">
    <compose :user.sync="user" :reply.sync="reply" :media.sync="temp.media"></compose>
        <div class="columns">
            <column title="Home">
                <stream-item v-for="tweet in tweets | orderBy 'id_str' -1 | limitBy 200" :id="tweet" :index="$index"></stream-item>
            </column>
            <column title="Interactions">
                <interaction v-for="event in interactions | orderBy 'created_at' -1 | limitBy 200" :event="event.type" :content="event.event" :index="$index"></interaction>
            </column>
            <column title="Direct Messages">
                <direct-message v-for="message in direct_messages | orderBy 'id_str' -1 | limitBy 200" :content="message" :index="$index"></direct-message>
            </column>
        </div>
    </div>
    <settings-modal :themes.sync="themes" :sounds.sync="sounds"></settings-modal>
    <about-modal></about-modal>
    <hidden-modal :tweets.sync="storage.hidden"></hidden-modal>
    <audio id="notification-tag" src="assets/sounds/notification.mp3" preload="auto"></audio>
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>
</html>
